.play {
  @include get-all-space;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.play__team {
  flex-basis: 45%;
}

.play__dash {
  flex-basis: 10%;
  font-size: 40rem;
}