@import url('https://fonts.googleapis.com/css?family=VT323');

html {
  font-size: 62.5%;
  font-family: 'VT323', monospace;
  color: $green;
}

body {
  font-size: 6rem;
}

input, button {
  font-family: 'VT323', monospace;
}

h1 {
  text-transform: uppercase;
  color: $white;
  font-size: 5rem;
}